:root {
  --white: #fff;
  --white2: #f1f1f1;
  --black: #030d18;
  --darkgrey: #2f2f2f;

  --neonblue: #2A4B9A;
  --darkpurple: #a95fa2;
  --darkorange: #c6672e;
  --neonpink: #a9529a;
  --neonpurple: #ae2885;
  --darkpink: #b94b95;
}