@font-face {
  font-family: "Poppins Medium";
  src: local("Poppins-Medium"),
url("../../ressources/fonts/Poppins-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Poppins SemiBold Italic";
  src: local("Poppins-SemiBoldItalic"),
url("../../ressources/fonts/Poppins-SemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat-Medium"),
url("../../ressources/fonts/Montserrat-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: local("UbuntuMono-Regular"),
url("../../ressources/fonts/UbuntuMono-R.ttf") format("opentype");
}