:root {
  // base common theme colors
  --color-white: #F1F1F1;
  --color-untrue-black: #0B0B0B;
  --color-darkblue: #100F1F;
  --color-darkblue-light: #2E125F;

  // gradient vivid colors
  --color-gradient-purple-light: #FC76FA;
  --color-gradient-purple-deep: #A516FA;
  --color-gradient-orange-light: #FEC552;
  --color-gradient-orange-deep: #FF6A1A;

  // Logo colors
  --color-logo-left-1: var(--color-gradient-orange-light);
  --color-logo-left-2: var(--color-gradient-orange-deep);
  --gradient-logo-left: linear-gradient(90deg, var(--color-logo-left-1), var(--color-logo-left-2));

  --color-logo-right-1: var(--color-gradient-purple-light);
  --color-logo-right-2: var(--color-gradient-purple-deep);

  --color-logo-bg: var(--color-darkblue);

  //* Base light theme colors
  --color-text: var(--color-untrue-black);
  --color-bg: var(--color-white);
}

.dark {
  //* Base dark theme colors
  --color-main-bg: var(--color-darkblue);
  --color-main-bg-gradient: var(--color-darkblue-white);
  --color-text: var(--color-white);

  --color-main-border-1-gradient-1: var(--color-gradient-purple-light);
  --color-main-border-1-gradient-2: var(--color-gradient-purple-deep);

  --color-main-border-2-gradient-1: var(--color-gradient-orange-light);
  --color-main-border-2-gradient-2: var(--color-gradient-orange-deep);
}