*
!.gitignore
!README.md
!package.json
!db_backups
!db_backups/*
!wp-content/
wp-content/*
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/portfolio
!wp-content/themes/portfolio/*
!wp-content/themes/portfolio/public
!wp-content/themes/portfolio/public/*
!wp-content/themes/portfolio/public/css
!wp-content/themes/portfolio/public/css/*
!wp-content/themes/portfolio/ressources
!wp-content/themes/portfolio/ressources/*
!wp-content/themes/portfolio/ressources/sass
!wp-content/themes/portfolio/ressources/sass/*
!wp-content/themes/portfolio/ressources/sass/config
!wp-content/themes/portfolio/ressources/sass/config/*
!wp-content/themes/portfolio/ressources/sass/parts
!wp-content/themes/portfolio/ressources/sass/parts/*
!wp-content/themes/portfolio/ressources/sass/pages
!wp-content/themes/portfolio/ressources/sass/pages/*
!wp-content/themes/portfolio/ressources/sass/queries
!wp-content/themes/portfolio/ressources/sass/queries/*