
// Links sections
.links {
  padding: 0 var(--number-padding-simple);
  max-width: var(--number-max-text-width);

  &__div {
    display: flex;
    flex-direction: column;
    gap: var(--number-padding-mini);
    align-items: start;
    align-self: stretch;
  }

  &__container {
    display: flex;
    gap: var(--number-padding-simple);
    padding: 0 var(--number-padding-little);
    align-items: center;
    min-height: 3.5rem;
  }

  &__link {
    width: var(--number-padding-heavy);
    padding: 0;
    transition: padding .2s ease-out;

    &:hover, &:focus {
      padding: var(--number-padding-mini);
    }
  }

  &__data {
    align-self: center;
  }
}