
.projects {
  /*
    display: grid;
    grid-auto-flow: row;*/

  h2 {
    font-size: 1.7em;
  }

  &__container {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
    max-width: 100%;
    overflow-x: scroll;
  }

}

.project {
  width: 20rem;
  aspect-ratio: 2.5/3.5;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border: .1rem solid lightpink;
  margin: 2rem 1rem;
  background: rgba(45, 33, 44, 0.50);

  //neon effect
  position: relative;
  transform-style: preserve-3d;
  border-radius: 2rem;

  sh {
    position: absolute;
    inset: calc(-0.75rem - 0.50rem);
    border: calc(0.75rem + 0.50rem) solid #0000;
    border-radius: calc(0.75rem + 0.50rem + 2rem);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transform: translateZ(-1px);
    pointer-events: none;
  }

  sh::before {
    content: "";
    position: absolute;
    inset: -0.5rem;
    border-radius: 2rem;
    background: conic-gradient(from 30deg, var(--neonblue) 0%, var(--darkpurple) 20%, var(--darkorange) 40%, var(--neonpink) 60%, var(--neonpurple) 80%, var(--neonpink) 100%);
    filter: blur(0.75rem);
    transform: translate(0px, 0px);
  }

  &__title {
    margin-bottom: .5rem;
    order: -2;
  }

  &__link {

  }
  &__img {
    z-index: 1;
    order: -1;
    width: 100%;
    aspect-ratio: 16/9;
  }

}