.custom-page {
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  font-family: "Poppins", sans-serif;

  // Bidouillage pour permettre à presque n'importe quoi
  // d'apparaître malgré un Z-index -1, y
  // compris le dégradé de haut de page

  // gradient top bg
  &::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: var(--gradient-top-bg);
    z-index: -3;
  }

  & main {
    position: relative;
    overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 999rem;
    z-index: -3;

    background: url("../svg/bg-crystals.svg") repeat-y center top;
  }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Medium", sans-serif;
}

h1 {
  font-size: var(--number-fsize-title);
}

h2 {
  font-size: var(--number-fsize-h2);
}

section, article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--number-padding-little);
}

article h2, article h3, article h4 {
  font-size: var(--number-fsize-card);
}

.custom-page main {
  display: flex;
  flex-direction: column;
  gap: var(--number-gap-sections);
}

/* Solution avec un :before en absolute, avec un z-index et un bg-image. Fond non transparent.
 * Avantages : Plutôt court et pas "trop" de bidouillages.
 */
.neon-card {
  background-color: var(--color-main-bg);
  position: relative;
  //padding: calc(var(--number-card-main-width) * 2);
  border-radius: calc(var(--number-card-main-radius) - (var(--number-card-main-stroke-width)));
  margin: var(--number-card-main-stroke-width);

  & h2, & h3 {
    font-size: var(--number-card-title-fsize);
    text-align: center;
  }

  &::before {
    border-radius: var(--number-card-main-radius);
    width: 100%;
    height: 100%;
    content: '';
    background-image: var(--gradient-main-border-1);
    padding: var(--number-card-main-stroke-width);
    top: calc(-1 * var(--number-card-main-stroke-width));
    left: calc(-1 * var(--number-card-main-stroke-width));
    position: absolute;
    z-index: -1;

  }

  &:nth-child(2n)::before {
    background-image: var(--gradient-main-border-2);
  }
}

.inavlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--number-padding-medium);
  //margin: var(--number-padding-simple) var(--number-padding-medium);

  transition: gap 200ms var(--anim-inavlink-hover);
  transition-timing-function: var(--anim-inavlink-hover);
  background-image: var(--gradient-inavlink-l);
  min-height: var(--number-padding-heavy);
  border-radius: var(--number-padding-double);
  cursor: pointer;

  color: var(--color-main-text);
  font-family: "Poppins SemiBold Italic", sans-serif;
  text-decoration: none;
  //text-align: center;
  width: 27rem;
  max-width: var(--number-maxw-button);
  margin: 0 var(--number-padding-simple);

  &:hover {
    gap: var(--number-padding-semiheavy);
  }

  & div {
    display: flex;

    &::before {
      flex-grow: 1;
      background-image: var(--gradient-inavlink-l);
    }
  }

  &--left::before {
    background-image: var(--url-arrow-l);
    content: '';
    width: 2rem;
    height: 2rem;
  }

  &--right::after {
    background-image: var(--url-arrow-r);
    content: '';
    width: 2rem;
    height: 2rem;
  }

  &__text {
    &--underlined {
      text-decoration: underline;
    }
  }

  &--right {
    // Peut-être ou pas faire alignement sur le côté
    text-align: right;
    background-image: var(--gradient-inavlink-r);
  }
}

.hidden-checkbox {
  display: none;
}

/*
 * Specific style. Remove from here pls.
 */
