.custom-page {
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  font-family: "Poppins Medium", sans-serif;

  // Bidouillage pour permettre à presque n'importe quoi
  // d'apparaître malgré un Z-index -1, y
  // compris le dégradé de haut de page
  z-index: -3;

  // gradient top bg
  &::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: var(--gradient-top-bg);
    z-index: -2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Medium", sans-serif;
}

h1 {
  font-size: var(--number-fsize-title);
}

h2 {
  font-size: var(--number-fsize-h2);
}

section, article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--number-padding-little);
}

.custom-page main {
  display: flex;
  flex-direction: column;
  gap: var(--number-gap-sections);
}

/* Solution avec un :before en absolute, avec un z-index et un bg-image. Fond non transparent.
 * Avantages : Plutôt court et pas "trop" de bidouillages.
 */
.neon-box {
  background-color: var(--color-main-bg);
  position: relative;
  //padding: calc(var(--number-card-main-width) * 2);
  border-radius: calc(var(--number-card-main-radius) - (var(--number-card-main-stroke-width)));

  &::before {
    border-radius: var(--number-card-main-radius);
    width: 100%;
    height: 100%;
    content: '';
    background-image: var(--gradient-main-border-1);
    padding: var(--number-card-main-stroke-width);
    top: calc(-1 * var(--number-card-main-stroke-width));
    left: calc(-1 * var(--number-card-main-stroke-width));
    position: absolute;
    z-index: -1;

  }

  &:nth-child(2n)::before {
    background-image: var(--gradient-main-border-2);
  }
}

.inavlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--number-padding-medium);
  margin: var(--number-padding-simple) var(--number-padding-medium);

  transition: gap 200ms var(--anim-inavlink-hover);
  transition-timing-function: var(--anim-inavlink-hover);
  background-image: var(--gradient-inavlink-l-1);
  min-height: var(--number-padding-heavy);
  border-radius: var(--number-padding-double);
  cursor: pointer;

  color: var(--color-main-text);
  font-family: "Poppins SemiBold Italic", sans-serif bold italic;
  text-decoration: none;
  width: min(90vw, 27rem);

  &:hover {
    gap: var(--number-padding-semi-heavy);
  }

  &--left::before {
    background-image: var(--url-arrow-l);
    content: '';
    width: 2rem;
    height: 2rem;
  }

  &--right::after {
    background-image: var(--url-arrow-r);
    content: '';
    width: 2rem;
    height: 2rem;
  }

  &__text {
    &--underlined {
      text-decoration: underline;
    }
  }

  &--right {
    text-align: right;
    background-image: var(--gradient-inavlink-r-2);
  }
}

.hidden-checkbox {
  display: none;
}

/*
 * Specific style. Remove from here pls.
 */

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--number-padding-mini);
  margin: var(--number-padding-heavy) var(--number-padding-medium);

  font-size: var(--number-card-title-fsize);
  font-family: "Ubuntu Mono", code, sans-serif;

  &__logo {
    background-color: var(--color-darkblue);
    border: var(--number-padding-small) solid var(--color-darkblue-light);
  }
}

.projects {
  &__container {
    display: grid;
    //gap: var(--number-padding-double);
    line-height: 0;
    align-content: space-evenly;
    grid-template-columns: repeat(1fr);
    padding: var(--number-padding-simple) var(--number-padding-medium);
    width: calc(100% - (var(--number-padding-medium) * 2));

    &--suggest {
      //scroll-snap-type: x mandatory;
      align-content: start;
      justify-content: start;
      grid-auto-flow: column;
      overflow-x: scroll;
    }
  }

  &__item {
    @extend .neon-box;
    display: flex;
    flex-direction: column;
    gap: var(--number-padding-mini);
    text-align: center;
    width: 25rem;
    max-width: 85vw;
    // width: 85vw;
    position: relative;
    margin: calc(var(--number-padding-small) + var(--number-card-main-stroke-width));
    //scroll-snap-align: start;

    & > * {
      line-height: normal;
    }

    &__title {
      padding-top: var(--number-padding-small);
      font-size: var(--number-card-title-fsize);
      font-family: sans-serif;
    }

    &__link {
      @extend .inavlink;
      @extend .inavlink--right;
      margin: 0 var(--number-padding-mini) 0 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: var(--number-card-main-radius);
      text-decoration: underline;

      background-image: var(--gradient-projects-link-1);
      padding: var(--number-padding-little);
      border-radius: var(--number-padding-mini) var(--number-padding-mini) var(--number-card-inner-radius) var(--number-card-inner-radius);
    }

    &__img {
      border-radius: 0 0 var(--number-card-inner-radius) var(--number-card-inner-radius);
      overflow: hidden;
      width: 100%;
      height: auto;
    }

    &:nth-child(2n) .projects__item__link {
      background-image: var(--gradient-projects-link-2);
    }
  }
}
