@use "../settings/breakpoints" as b;

.home {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--number-padding-simple);
  min-height: max(80vh, 100%);

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--number-padding-mini);
    margin: var(--number-padding-medium);

    font-size: var(--number-fsize-subtitle);
    font-family: "Ubuntu Mono", code, sans-serif;
  }

  &__logo {
    background-color: var(--color-logo-bg);
    border: var(--number-padding-small) solid var(--color-logo-border);
  }

  &__content {
    margin: 0 var(--number-padding-simple);
    max-width: var(--number-max-text-width);
    align-self: center;
  }

  &__bio {
    margin: 0 var(--number-padding-simple);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--number-padding-simple);
    max-width: var(--number-max-text-width);
  }
}

.about {
  &__button {
    cursor: pointer;
  }

  &__container {
    display: flex;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0;
    max-width: var(--number-max-container-width);
    padding: /*var(--number-padding-heavy)*/
            var(--number-padding-simple);
    overflow: visible;

    transition: height .5s ease-in;

    &:has(#about-me:checked) {
      gap: var(--number-padding-simple);

      & .about__item {
        display: flex;
      }
    }

    &::before, &::after {
      width: 100vw;
      overflow: visible;
      aspect-ratio: var(--number-crystal-about-aspect-ratio);
      max-width: var(--number-max-container-width-extended);
      content: '';
      background-size: cover;
      z-index: -1;
    }

    &::before {
      background: 20% 0 no-repeat url("../svg/crystal-top.svg");
      margin-bottom: calc(-47% / (var(--number-crystal-about-aspect-ratio)));
    }

    &::after {
      background: bottom center no-repeat url("../svg/crystal-bottom.svg");
      margin-top: calc(-50% / (var(--number-crystal-about-aspect-ratio)));
    }
  }

  &__item {
    display: none;
    position: relative;
    padding: var(--number-padding-small);
    border-radius: var(--number-padding-medium);
    max-width: var(--number-tools-max-item-width);
    min-width: var(--number-tools-min-item-width);
    margin-top: var(--number-padding-heavy);
    background-color: var(--color-about-item-bg);

    &__logo {
      z-index: -1;
      position: absolute;
      top: calc(-1 * (var(--number-padding-heavy)));
      width: var(--number-about-logo-size);
      height: var(--number-about-logo-size);
    }
  }
}

#contact {
  width: 100%;
  display: grid;
  gap: var(--number-padding-simple);
  align-items: center;
  justify-content: center;
  max-width: var(--number-max-container-width);

  @include b.lg {
    grid-template-columns: 1fr 1fr;
  }

  & .links__ {

  }

  & .contact {
    max-width: var(--number-max-text-width);
    padding: 0 var(--number-padding-simple);
  }
}