@use "general" as g;

.home {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35rem;
  min-height: max(80vh, fit-content);

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--number-padding-mini);
    margin: var(--number-padding-medium) var(--number-padding-medium) var(--number-padding-heavy) ;

    font-size: var(--number-fsize-subtitle);
    font-family: "Ubuntu Mono", code, sans-serif;
  }

  &__logo {
    background-color: var(--color-logo-bg);
    border: var(--number-padding-small) solid var(--color-logo-border);
  }

  &__content {
    margin: 0 var(--number-padding-simple);
    max-width: var(--number-max-text-width);
    align-self: center;
  }

  &__bio {
    margin: 0 var(--number-padding-simple);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--number-padding-simple);
    max-width: var(--number-max-text-width);
  }
}

.about {
  &__button {
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    max-width: var(--number-max-container-width);
    padding: var(--number-padding-heavy) var(--number-padding-simple);
    gap: var(--number-padding-simple);

    @media (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    position: relative;
    padding: var(--number-padding-small);
    border-radius: var(--number-padding-medium);
    max-width: var(--number-tools-max-item-width);
    min-width: var(--number-tools-min-item-width);
    margin-top: var(--number-padding-heavy);
    background-color: var(--color-about-item-bg);

    &__logo {
      z-index: -1;
      position: absolute;
      top: calc(-1 * (var(--number-padding-heavy)));
      width: var(--number-about-logo-size);
      height: var(--number-about-logo-size);
    }
  }
}
