@use "general" as g;

.projects {
  &__container {
    display: grid;
    gap: var(--number-padding-double);
    line-height: 0;
    align-content: space-evenly;
    grid-template-columns: repeat(1fr);
    padding: var(--number-padding-simple) var(--number-padding-medium);
    width: calc(100% - (var(--number-padding-medium) * 2));

    &--suggest {
      //scroll-snap-type: x mandatory;
      align-content: start;
      justify-content: start;
      grid-auto-flow: column;
      overflow-x: scroll;
    }
  }

  &__item {
    @extend .neon-card;
    text-decoration: none;
    color: var(--color-main-text);
    display: flex;
    flex-direction: column;
    gap: var(--number-padding-mini);
    text-align: center;
    width: 25rem;
    max-width: min(var(--number-card-max-w), 85vw);
    position: relative;
    margin: var(--number-card-main-stroke-width);
    //scroll-snap-align: start;

    & > * {
      line-height: normal;
    }

    &__title {
      padding-top: var(--number-padding-small);
    }

    &__effect {
      min-width: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: var(--number-card-main-radius);

      transition: background-position 200ms ease-out;
      background: top 5rem left 0 no-repeat var(--gradient-projects-link-1);
      padding: var(--number-padding-small) 0;
      border-radius: var(--number-padding-mini) var(--number-padding-mini) var(--number-card-inner-radius) var(--number-card-inner-radius);
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        background: repeat-x center var(--url-arrow-r);
        transition: width 500ms ease-out; //TODO jouer avec les keyframes pour l'anim infinie après
        width: 0;
        align-self: stretch;
      }
    }

    &:hover .projects__item__effect, &:focus .projects__item__effect {
      background-position: top 0 left 0;

      &::before {
        width: 90%;
        animation: arrowMove 1s linear infinite;
      }
    }

    &__img {
      border-radius: 0 0 var(--number-card-inner-radius) var(--number-card-inner-radius);
      overflow: hidden;
      width: 100%;
      height: auto;
    }

    &:nth-child(2n) .projects__item__effect {
      background-image: var(--gradient-projects-link-2);
    }
  }
}
