@use "general" as g;
.projects {
  &__container {
    display: grid;
    gap: var(--number-padding-double);
    line-height: 0;
    align-content: space-evenly;
    grid-template-columns: repeat(1fr);
    padding: var(--number-padding-simple) var(--number-padding-medium);
    width: calc(100% - (var(--number-padding-medium) * 2));

    &--suggest {
      //scroll-snap-type: x mandatory;
      align-content: start;
      justify-content: start;
      grid-auto-flow: column;
      overflow-x: scroll;
    }
  }

  &__item {
    @extend .neon-card;
    display: flex;
    flex-direction: column;
    gap: var(--number-padding-mini);
    text-align: center;
    width: 25rem;
    max-width: 85vw;
    // width: 85vw;
    position: relative;
    margin: var(--number-card-main-stroke-width);
    //scroll-snap-align: start;

    & > * {
      line-height: normal;
    }

    &__title {
      padding-top: var(--number-padding-small);
      font-size: var(--number-card-title-fsize);
      font-family: sans-serif;
    }

    &__link {
      @extend .inavlink;
      @extend .inavlink--right;
      margin: 0 var(--number-padding-mini) 0 0;
      min-width: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: var(--number-card-main-radius);
      text-decoration: underline;

      background-image: var(--gradient-projects-link-1);
      padding: var(--number-padding-little);
      border-radius: var(--number-padding-mini) var(--number-padding-mini) var(--number-card-inner-radius) var(--number-card-inner-radius);
    }

    &__img {
      border-radius: 0 0 var(--number-card-inner-radius) var(--number-card-inner-radius);
      overflow: hidden;
      width: 100%;
      height: auto;
    }

    &:nth-child(2n) .projects__item__link {
      background-image: var(--gradient-projects-link-2);
    }
  }
}
