body {
  background-color: #030d18;
  padding-top: 3rem;
  color: white;
  text-align: center;
  margin: auto;
  width:  min(100vw, 1920px);
}

abbr {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}