html {
  font-size: 16px;
}

body {
  color: var(--white);
  text-align: center;
  min-height: 100vh;
  //width: min(100vw, 1920px);
  background: linear-gradient(200deg, #030d18 0%, #060660 20%, #280258 40%, #300315 60%, #030d18 100%);
}

abbr {
  text-decoration: none;
}

h1 {
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: #f0f0f0;
  }
}