@keyframes logo-hover {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes nav-hover {
  0% {
    height: 0;
  }
  100% {
    height: 2.5rem;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
}

.site-icon {
  margin: .25rem;
  width: auto;
}

.main-nav {
  opacity: 50%;
  background-color: var(--black);
  height: 4rem;
  transition: opacity .5s ease-out;

  &:hover {
    transition: opacity .5s ease-out;
    opacity: 100%;

    & a {
      transition: height .2s ease-out;
      height: 1.5rem;
    }
  }


  & ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    min-height: 4rem;
  }

  & li {
    list-style-type: none;
    flex-grow: 1;


    & .nav-active {
      background-color: var(--darkgrey);
    }

    &::after {
      width: .25rem;
      background-color: var(--white);
    }

  }

  & .nav-home {
    flex-grow: 0;
    height: fit-content;
  }

  & a {
    height: 0;
    transition: height .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    width: 100%;
  }
}
